@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Primary Colors */
    --Light-red--CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
    /* Neutral Colors */
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /* Gradients */
    /* Background gradient - Intro/CTA mobile nav: */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
    /* Other */
    --main-trans: 0.3s;
    --default-padding: 60px;
}

::selection {
    background-color: var(--Very-dark-blue-headings);
    color: white;
    /* color: var(--Light-red--CTA-text); */
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Very-dark-desaturated-blue);
    transition: var(--main-trans);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--Very-dark-blue-headings);
}

.overpass {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    /* Weights: 300, 600 */
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    /* Weights: 400, 500, 700 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    margin-inline: auto;
    padding-inline: 30px;
}

/* Local Rules */
.hero {
    background-image: linear-gradient(to right,var(--Very-light-red), var(--Light-red));
    height: 60dvh;
    border-bottom-left-radius: 120px;
    position: relative;
    overflow: hidden;
    color: white;
}

.hero header {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.hero header, .hero main {
    position: relative;
    /* z-index: 999; */
}

.hero .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url('../../images/bg-pattern-intro-desktop.svg');
}

.hero header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header .container .left,
.hero header .container .right {
    display: flex;
    align-items: center;
}

.hero header .left .logo {
    margin-right: 30px;;
}

.header-link {
    display: inline-block;
    margin-inline: 20px;
    transition: var(--main-trans);
    color: #e6e6e6;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.header-link::before {
    transition: var(--main-trans);
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    /* opacity: 0; */
}

.header-link::after {
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: -20px;
    bottom: 0;
    font-size: 14px;
    transition: var(--main-trans);
    color: #e6e6e6;
}

.header-link:hover {
    color: white;
}

.header-link:hover::after {
    color: white;
}

.header-link:hover::before {
    /* opacity: 1; */
    width: 100%;
}

.header-link .special-menu {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    transition: var(--main-trans);
    top: calc(100% + 20px);
    width: 150px;
    left: -20px;
    box-shadow: 5px 0 12px 1px rgba(109, 109, 109, 0.377);
    opacity: 0;
    z-index: -11;
}

.visibility {
    z-index: 9999 !important;
    opacity: 1 !important;
}

.rotate::after {
    rotate: 180deg 0;
}

.header-link .special-menu a {
    display: block;
    color: rgb(73, 73, 73);
    font-weight: normal;
    transition: var(--main-trans);
    padding: 5px 0;
    font-weight: 500;
}

.header-link .special-menu a:hover {
    color: black;
    text-shadow: 0 0 6px rgba(136, 136, 136, 0.288);
}

.hero header .right .login {
    display: inline-block;
    margin-inline: 20px;
    transition: var(--main-trans);
    color: #e6e6e6;
    font-weight: 500;
    cursor: pointer;
}

.hero header .right .login:hover {
    color: white;
}

.white-button {
    color: var(--Light-red--CTA-text);
    border-radius: 30px;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--main-trans);
    font-weight: 700;
}

.bg-white {
    background-color: white;
}

.bg-transparent {
    background-color: transparent;
    border: 1px solid white;
    color: #e6e6e6;
}

.white-button:hover {
    background-color: var(--Very-light-red-CTA-hover-background);
    color: #e6e6e6;
}

.hero main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero main h1 {
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
}

.hero main .container h1 + p {
    color: #e6e6e6;
    font-size: 1.3em;
    margin-bottom: 40px;
    text-align: center;
}

.hero main .container .flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.features {
    padding-top: calc(40px + var(--default-padding));
    padding-bottom: calc(40px + var(--default-padding));
    position: relative;
    overflow: hidden;
}

.features .container {
    position: relative;
}

.features .container h1 {
    color: var(--Very-dark-blue-headings);
    text-align: center;
    font-size: 2.6em;
}

.features .container .article-container {
    width: 40%;
    padding-top: 30px;
    padding-bottom: 130px;
}

.features .container img.desktop {
    position: absolute;
    left: 50%;
    top: -10%;
}

.article {
    margin-top: 70px;
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
}

.article h2 {
    color: var(--Very-dark-blue-headings);
    margin-bottom: 30px;
    font-size: 2em;
}

.article p {
    color: var(--Very-dark-grayish-blue-body-copy);
    line-height: 1.8;
}

.state-of-the-art {
    position: relative;
    background-color: transparent;

}

.state-of-the-art .blue-wrapper {
    background-image: linear-gradient(to right,var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
    padding-top: calc(1.8 * var(--default-padding));
    padding-bottom: calc(1.8 * var(--default-padding));
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.state-of-the-art .blue-wrapper img {
    position: absolute;
    left: 0;
    top: -130%;
    z-index: 1;
}

.state-of-the-art .blue-wrapper .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.state-of-the-art .blue-wrapper .container .article {
    flex-basis: 47%;
    z-index: 2;
    margin-top: 0;

}

.state-of-the-art > .container > img {
    position: absolute;
    z-index: 99999;
    top: -20%;
    translate: -10% 0;
}

.state-of-the-art .blue-wrapper .container .article h2 {
    color: white;
    font-size: 2.3rem;
}

.state-of-the-art .blue-wrapper .container .article p {
    color: #e6e6e6;
}

.state-of-the-art + .features .container {
    margin-top: 50px ;
}

.footer {
    background-color: var(--Very-dark-black-blue-footer-background);
    border-top-right-radius: 120px;
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    font-weight: 500;
}

.footer .container p {
    margin-bottom: 30px;
}

.footer .container a {
    padding: 10px 0;
    font-size: 15px;
    display: block;
    color: var(--Grayish-blue-footer-text);
}

.footer .container a:hover {
    text-decoration: underline;
}

.rotate-mobile-menu {
    rotate: 360deg 0;
}

header .right img {
    transition: 0.6s;
}

.mobile-menu {
    opacity: 0;
    transition: var(--main-trans);
    position: fixed;
    background-color: white;
    border-radius: 6px;
    width: 90%;
    height: 77dvh;
    left: 50%;
    top: 20%;
    translate: -50% 0;
    box-shadow: 0px 5px 18px 4px rgba(80, 80, 80, 0.349);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mobile-menu .header-link {
    color: black;
    font-family: "Overpass", serif;
}

.mobile-menu .header-link::after {
    color: var(--Light-red--CTA-text);
}

.disable-scroll {
    overflow: hidden;
}
/* Media Queries */
@media (width < 992px) {
    .state-of-the-art .blue-wrapper {
        background-image: linear-gradient(var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
        /* height: 800px; */
        /* padding: 0; */
        margin-top: var(--default-padding);
        margin-bottom: var(--default-padding);
    }

    .state-of-the-art .blue-wrapper img {
        position: absolute;
        width: 150%;
        left: 50%;
        top: -40%;
        translate: -50% 0;
        z-index: 1;
    }

    .state-of-the-art .blue-wrapper .container {
        flex-direction: column;
        height: 100%;
    }

    .state-of-the-art .blue-wrapper .container .article {
        flex-basis: 50%;
        text-align: center;
        margin-top: 100px;
    }

    .state-of-the-art > .container > img {
        width: 300px;
        top: -20%;
        left: 50%;
        translate: -50% 0;
    }
}

@media (width < 769px) {
    .desktop {
        display: none !important;
    }

    .hero .bg-img {
        background-image: url('../../images/bg-pattern-intro-mobile.svg');
    }

    .hero {
        padding-bottom: 120px;
        height: fit-content;
        background-image: linear-gradient(var(--Very-light-red), var(--Light-red));
    }

    .hero main h1  {
        font-size: 2em;
    }

    .hero main .container h1 + p {
        font-size: 1.2em;
    }

    .white-button {
        padding: 15px;
    }

    .features {
        padding-top: var(--default-padding);
        padding-bottom: var(--default-padding);
    }

    .features h1, h2 {
        font-size: 1.7em !important;
        margin-bottom: 50px;
    }

    .features .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features .container .article-container {
        width: 100%;
        padding: 0;
    }

    .article {
        margin-top: 50px;
    }

    .state-of-the-art + .features {
        padding-top: 0;
    }

    .state-of-the-art + .features .container {
        margin-top: 0 ;
    }

    .footer .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer .container p {
        padding-top: 50px;
        margin-bottom: 20px;
    }

    .footer .container a {
        padding: 7px 0;
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }

    .mobile {
        display: none !important;
    }

    .state-of-the-art + .features .container {
        display: flex;
        justify-content: flex-end;
    }
    
    .state-of-the-art + .features .container img.desktop {
        position: absolute;
        /* left: -40%; */
        left: initial;
        right: 46%;
        top: -10%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}