@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Primary Colors */
    --Light-red--CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
    /* Neutral Colors */
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /* Gradients */
    /* Background gradient - Intro/CTA mobile nav: */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
    /* Background gradient - body: */
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
    /* Other */
    --main-trans: 0.3s;
    --default-padding: 60px;
}

.overpass {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    /* Weights: 300, 600 */
}

.ubuntu {
    font-family: "Ubuntu", sans-serif;
    /* Weights: 400, 500, 700 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
}

/* Local Rules */
.hero {
    background-image: linear-gradient(to right,var(--Very-light-red), var(--Light-red));
    height: 60dvh;
    border-bottom-left-radius: 120px;
    position: relative;
    overflow: hidden;
    color: white;
}

.hero header {
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

.hero header, .hero main {
    position: relative;
    z-index: 999;
}

.hero .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url('../../images/bg-pattern-intro-desktop.svg');
}

.hero header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero header .container .left {
    display: flex;
    align-items: center;
}

.hero header .left .logo {
    margin-right: 30px;;
}

.header-link {
    display: inline-block;
    margin-inline: 20px;
    transition: var(--main-trans);
    color: #e6e6e6;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.header-link::before {
    transition: var(--main-trans);
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    /* opacity: 0; */
}

.header-link::after {
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    right: -20px;
    bottom: 0;
    font-size: 14px;
    transition: var(--main-trans);
    color: #e6e6e6;
}

.header-link:hover {
    color: white;
}

.header-link:hover::after {
    color: white;
}

.header-link:hover::before {
    /* opacity: 1; */
    width: 100%;
}

/* Media Queries */
@media (width < 769px) {
    .desktop {
        display: none;
    }

    .hero .bg-img {
        background-image: url('../../images/bg-pattern-intro-mobile.svg');
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}